html  {
--text: #83cdff;
--background: #ffffff
--primary: #374736;
--secondary: #555a4b;
--accent: #bcc475;
}



body {
    
    text-align: center;
    color: var(--text);
   background-image: url(nature-raining-scene_198067-403186.avif);
   background-size: 1500px, 1500px;
}
h1 {
    background-color: rgba(168, 177, 168, 0.767);
}
h2,
h3 {
    color: var(--primary);
    font-size:25px;
    font-weight:500;
    font-style: italic;
    font-family: "Ubuntu";
}

p {
    background: var(--accent);
}

li::marker {
    color: var(--secondary);
}

img {
    padding: 4px;
    border: 4px solid var (--secondary);
    border-radius: 16px;
    background: var(--primary);
}

audio {
    background: var(--secondary);
}

button {
    background-color: rgba(31, 255, 24, 0.342);
}