html  {
--text: #000000;
--background: #ffffff
--primary: #374736;
--secondary: #555a4b;
--accent: #a5c99c;
}



body {
    
    text-align: center;
    color: var(--text);
   background-image: url(nature-raining-scene_198067-403186.avif);
   background-size: 1500px, 1500px;
}
h1 {
    background-color: rgba(168, 177, 168, 0.767);
}
h2,
h3 {
    color: var(--primary);
    font-size:25px;
    font-weight:500;
    font-style: italic;
    font-family: "Ubuntu";
}

p {
    background: var(--accent);
}

li::marker {
    color: var(--secondary);
}

img {
    padding: 4px;
    border: 4px solid var (--secondary);
    border-radius: 16px;
    background: var(--primary);
}

audio {
    background: var(--secondary);
}

button {
    margin: 0.5rem;
}

.btn {
    background-color: var(--accent);
    color: #000000fd;
    padding: 0.75em 2em;
    border: none;
    outline: none;
    position:relative;
    cursor: pointer;

    --background-color: #455739e3;
    --border-size: 5px;

   
}
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:var(--accent);
    z-index: -1;
    border: var(--border-size) solid var(--background-color);
    transition: top, left, right, bottom, 100ms ease-in-out;

}
.btn:hover::before,
.btn:focus::before {
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);
}